# SUPABASE
VITE_SUPABASE_URL=COLOCAR_URL_DO_SUPABASE_AQUI
VITE_SUPABASE_ANON_KEY=COLOCAR_CHAVE_ANON_DO_SUPABASE_AQUI

# STRIPE
VITE_STRIPE_PUBLIC_KEY=COLOCAR_CHAVE_PUBLICA_DO_STRIPE_AQUI

# APP
VITE_APP_NAME=CareConnect
VITE_APP_ENV=development
